.boton-contenedor {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;

    height: 83px;

    margin: 4px;

    background-color: #1b1b32;
    color: white;

    border: 2px solid white;
    border-radius: 25px;

    font-size: 38px;
    font-weight: bold;

    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover {
    background-color: #5a01a7;
}

.operador {
    background-color: #00471b;
}

.operador:hover {
    background-color: #ff6600;
}