.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    padding-top: 10px;

    background-color: #1b1b32;
    font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    margin: 8px;
}

.freecodecamp-logo {
    height: 40px;
}

.contenedor-calculadora {
    width: 400px;
    height: 600px;

    padding: 14px;

    background-color: #99c9ff;

    border: 5px solid white;
    border-radius: 20px;
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4px;
}